resources/referenceWorkflowsAndConnections/workflows/ParseDocumentWithMetadata/simple_withChunk_resolved.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
      "ParseDocumentWithMetadata": {
        "type": "ParseDocumentWithMetadata",
        "inputs": {
          "content": {
            "$content-type": "application/pdf",
            "$content": "TG9yZW0gaXBzdW0gZG9sb3Igc2l0IGFtZXQsIGNvbnNlY3RldHVyIGFkaXBpc2NpbmcgZWxpdC4="
          },
          "filetype": "pdf"
        },
        "runAfter": {}
      },
      "ChunkText": {
        "type": "ChunkText",
        "inputs": {
          "text": "@body('ParseDocumentWithMetadata').value",
          "chunkingStrategy": "tokenSize",
          "tokenSize": 100,
          "encodingModel": "cl100k_base",
          "pageOverlapLength": "10"
        },
        "runAfter": {
          "ParseDocumentWithMetadata": [
            "Succeeded"
          ]
        }
      },
      "Response": {
        "type": "Response",
        "kind": "http",
        "inputs": {
          "statusCode": 200,
          "body": "@body('ChunkText')"
        },
        "runAfter": {
          "ChunkText": [
            "Succeeded"
          ]
        }
      }
    },
    "triggers": {
      "manual": {
        "inputs": {
          "schema": {}
        },
        "kind": "Http",
        "type": "Request"
      }
    },
    "contentVersion": "1.0.0.0",
    "outputs": {}
  },
  "kind": "Stateful"
}
