resources/referenceWorkflowsAndConnections/workflows/ServiceProviders/ServiceOperationProvider/ServiceBus/workflow.GetMessages.Queue.RenewLock.Stateful.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
      "For_each": {
        "actions": {
          "Complete_the_message": {
            "inputs": {
              "parameters": {
                "messageId": "@item()?['messageId']"
              },
              "serviceProviderConfiguration": {
                "connectionName": "serviceBusConnectionString",
                "operationId": "completeMessage",
                "serviceProviderId": "/serviceProviders/serviceBus"
              }
            },
            "runAfter": {
              "Renew_Lock": [
                "Succeeded"
              ]
            },
            "type": "ServiceProvider"
          },
          "Renew_Lock": {
            "inputs": {
              "parameters": {
                "messageId": "@item()?['messageId']"
              },
              "serviceProviderConfiguration": {
                "connectionName": "serviceBusConnectionString",
                "operationId": "renewLockMessage",
                "serviceProviderId": "/serviceProviders/serviceBus"
              }
            },
            "type": "ServiceProvider"
          },
          "Send_message": {
            "inputs": {
              "parameters": {
                "entityName": "ServiceBuscit",
                "message": {
                  "contentData": "Resend after complete",
                  "messageId": "@items('For_each')?['messageId']"
                }
              },
              "serviceProviderConfiguration": {
                "connectionName": "serviceBusConnectionString",
                "operationId": "sendMessage",
                "serviceProviderId": "/serviceProviders/serviceBus"
              }
            },
            "runAfter": {
              "Complete_the_message": [
                "SUCCEEDED"
              ]
            },
            "type": "ServiceProvider"
          }
        },
        "foreach": "@body('get_messages_from_queue')",
        "runAfter": {
          "get_messages_from_queue": [
            "Succeeded"
          ]
        },
        "type": "Foreach"
      },
      "For_each_1": {
        "actions": {
          "Complete_the_message_1": {
            "inputs": {
              "parameters": {
                "messageId": "@items('For_each_1')?['messageId']"
              },
              "serviceProviderConfiguration": {
                "connectionName": "serviceBusConnectionString",
                "operationId": "completeMessage",
                "serviceProviderId": "/serviceProviders/serviceBus"
              }
            },
            "runAfter": {
              "Renew": [
                "SUCCEEDED"
              ]
            },
            "type": "ServiceProvider"
          },
          "Renew": {
            "inputs": {
              "parameters": {
                "messageId": "@items('For_each_1')?['messageId']"
              },
              "serviceProviderConfiguration": {
                "connectionName": "serviceBusConnectionString",
                "operationId": "renewLockMessage",
                "serviceProviderId": "/serviceProviders/serviceBus"
              }
            },
            "type": "ServiceProvider"
          },
          "Send_message_1": {
            "inputs": {
              "parameters": {
                "entityName": "ServiceBuscit",
                "message": {
                  "contentData": "Resend again",
                  "messageId": "@items('For_each_1')?['messageId']"
                }
              },
              "serviceProviderConfiguration": {
                "connectionName": "serviceBusConnectionString",
                "operationId": "sendMessage",
                "serviceProviderId": "/serviceProviders/serviceBus"
              }
            },
            "runAfter": {
              "Complete_the_message_1": [
                "SUCCEEDED"
              ]
            },
            "type": "ServiceProvider"
          }
        },
        "foreach": "@body('Get_messages_from_a_queue1')",
        "runAfter": {
          "Get_messages_from_a_queue1": [
            "SUCCEEDED"
          ]
        },
        "type": "Foreach"
      },
      "For_each_2": {
        "actions": {
          "Complete_the_message_2": {
            "inputs": {
              "parameters": {
                "messageId": "@items('For_each_2')?['messageId']"
              },
              "serviceProviderConfiguration": {
                "connectionName": "serviceBusConnectionString",
                "operationId": "completeMessage",
                "serviceProviderId": "/serviceProviders/serviceBus"
              }
            },
            "runAfter": {
              "Renew_lock_2": [
                "SUCCEEDED"
              ]
            },
            "type": "ServiceProvider"
          },
          "Renew_lock_2": {
            "inputs": {
              "parameters": {
                "messageId": "@items('For_each_2')?['messageId']"
              },
              "serviceProviderConfiguration": {
                "connectionName": "serviceBusConnectionString",
                "operationId": "renewLockMessage",
                "serviceProviderId": "/serviceProviders/serviceBus"
              }
            },
            "type": "ServiceProvider"
          }
        },
        "foreach": "@body('Get_messages_from_a_queue2')",
        "runAfter": {
          "Get_messages_from_a_queue2": [
            "SUCCEEDED"
          ]
        },
        "type": "foreach"
      },
      "Get_messages_from_a_queue1": {
        "inputs": {
          "parameters": {
            "queueName": "ServiceBuscit"
          },
          "serviceProviderConfiguration": {
            "connectionName": "serviceBusConnectionString",
            "operationId": "getMessagesFromQueue",
            "serviceProviderId": "/serviceProviders/serviceBus"
          }
        },
        "runAfter": {
          "For_each": [
            "SUCCEEDED"
          ]
        },
        "type": "ServiceProvider"
      },
      "Get_messages_from_a_queue2": {
        "inputs": {
          "parameters": {
            "queueName": "ServiceBuscit"
          },
          "serviceProviderConfiguration": {
            "connectionName": "serviceBusConnectionString",
            "operationId": "getMessagesFromQueue",
            "serviceProviderId": "/serviceProviders/serviceBus"
          }
        },
        "runAfter": {
          "For_each_1": [
            "SUCCEEDED"
          ]
        },
        "type": "ServiceProvider"
      },
      "get_messages_from_queue": {
        "inputs": {
          "parameters": {
            "queueName": "ServiceBuscit"
          },
          "serviceProviderConfiguration": {
            "connectionName": "serviceBusConnectionString",
            "operationId": "getMessagesFromQueue",
            "serviceProviderId": "/serviceProviders/serviceBus"
          }
        },
        "runAfter": {},
        "type": "ServiceProvider"
      }
    },
    "triggers": {
      "manual": {
        "kind": "Http",
        "type": "Request"
      }
    },
    "contentVersion": "1.0.0.0",
    "outputs": {}
  },
  "kind": "Stateful"
}