resources/referenceWorkflowsAndConnections/workflows/ServiceProviders/AzureTables/MutipleConnectionsWorkflowFormat.json
{{
    "definition": {{
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {{
            "Response": {{
                "inputs": {{
                    "body": {{
                        "upsertNew": "@outputs('Create_Or_Update_Entity')",
                        "createExisting": "@outputs('Create_Or_Update_Entity_2')"
                    }},
                    "statusCode": 200
                }},
                "kind": "http",
                "runAfter": {{
                  "Create_Or_Update_Entity_2": [
                    "Succeeded",
                    "Failed"
                  ]
                }},
                "type": "Response"
            }},
            "Create_Or_Update_Entity": {{
                "inputs": {{
                    "parameters": {{
                        "tableName": "{0}",
                        "entity": {{
                            "RowKey": "row1",
                            "PartitionKey": "partition1",
                            "a": "value 1"
                        }}
                    }},
                    "serviceProviderConfiguration": {{
                        "connectionName": "tableStorageConnection2",
                        "operationId": "upsertEntity",
                        "serviceProviderId": "/serviceProviders/azureTables"
                    }}
                }},
                "runAfter": {{}},
                "type": "ServiceProvider"
            }},
            "Create_Or_Update_Entity_2": {{
                "inputs": {{
                    "parameters": {{
                        "tableName": "{0}",
                        "entity": {{
                            "RowKey": "row1",
                            "PartitionKey": "partition1",
                            "f": "trying to create an entity that already exists"
                        }},
                        "failIfEntityExists": true
                    }},
                    "serviceProviderConfiguration": {{
                        "connectionName": "tableStorageConnection",
                        "operationId": "upsertEntity",
                        "serviceProviderId": "/serviceProviders/azureTables"
                    }},
                    "retryPolicy": {{
                        "type": "none"
                    }}
                }},
                "runAfter": {{
                    "Create_Or_Update_Entity": [
                        "Succeeded"
                    ]
                }},
                "type": "ServiceProvider"
            }}
        }},
        "contentVersion": "1.0.0.0",
        "outputs": {{}},
        "triggers": {{
            "manual": {{
                "kind": "http",
                "type": "request"
            }}
        }}
    }},
    "kind": "Stateful"
}}