resources/referenceWorkflowsAndConnections/workflows/ServiceProviders/SFTP/CreateEmptyFileWorkflow.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
      "Upload_File_Content": {
        "type": "ServiceProvider",
        "inputs": {
          "parameters": {
            "filePath": "@path",
            "overWriteFileIfExists": false
          },
          "serviceProviderConfiguration": {
            "connectionName": "Sftp",
            "operationId": "uploadFileContent",
            "serviceProviderId": "/serviceProviders/Sftp"
          }
        },
        "runAfter": {}
      },
      "Get_file_or_directory_metadata": {
        "type": "ServiceProvider",
        "inputs": {
          "parameters": {
            "fileOrFolderPath": "@path"
          },
          "serviceProviderConfiguration": {
            "connectionName": "Sftp",
            "operationId": "getMetadata",
            "serviceProviderId": "/serviceProviders/Sftp"
          }
        },
        "runAfter": {
          "Upload_File_Content": [
            "Succeeded"
          ]
        }
      },
      "Response": {
        "type": "Response",
        "kind": "http",
        "inputs": {
          "statusCode": 202,
          "body": "@body('Get_file_or_directory_metadata')"
        },
        "runAfter": {
          "Get_file_or_directory_metadata": [
            "Succeeded"
          ]
        }
      },
      "Delete_File": {
        "type": "ServiceProvider",
        "inputs": {
          "parameters": {
            "filePath": "@path",
            "skipDelete": false
          },
          "serviceProviderConfiguration": {
            "connectionName": "Sftp",
            "operationId": "deleteFile",
            "serviceProviderId": "/serviceProviders/Sftp"
          }
        },
        "runAfter": {
          "Get_file_or_directory_metadata": [
            "Succeeded"
          ]
        }
      }
    },
    "triggers": {
      "manual": {
        "type": "Request",
        "kind": "Http",
        "inputs": {}
      }
    },
    "contentVersion": "1.0.0.0",
    "outputs": {}
  },
  "kind": "Stateful"
}