resources/referenceWorkflowsAndConnections/workflows/ServiceProviders/SFTP/DeleteFolderWorkflow.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
      "Create_folder": {
        "type": "ServiceProvider",
        "inputs": {
          "parameters": {
            "folderPath": "@triggerBody()?['folder']"
          },
          "serviceProviderConfiguration": {
            "connectionName": "Sftp",
            "operationId": "createFolder",
            "serviceProviderId": "/serviceProviders/Sftp"
          }
        },
        "runAfter": {}
      },
      "Upload_file_content": {
        "type": "ServiceProvider",
        "inputs": {
          "parameters": {
            "filePath": "@{triggerBody()?['folder']}/file.txt",
            "overWriteFileIfExists": false,
            "content": "Sample file."
          },
          "serviceProviderConfiguration": {
            "connectionName": "Sftp",
            "operationId": "uploadFileContent",
            "serviceProviderId": "/serviceProviders/Sftp"
          }
        },
        "runAfter": {
          "Create_folder": [
            "Succeeded"
          ]
        }
      },
      "Upload_file_content_2": {
        "type": "ServiceProvider",
        "inputs": {
          "parameters": {
            "filePath": "@{triggerBody()?['folder']}/empty_file",
            "overWriteFileIfExists": false
          },
          "serviceProviderConfiguration": {
            "connectionName": "Sftp",
            "operationId": "uploadFileContent",
            "serviceProviderId": "/serviceProviders/Sftp"
          }
        },
        "runAfter": {
          "Upload_file_content": [
            "Succeeded"
          ]
        }
      },
      "Delete_folder": {
        "type": "ServiceProvider",
        "inputs": {
          "parameters": {
            "folderPath": "@triggerBody()?['folder']",
            "recursiveDelete": true
          },
          "serviceProviderConfiguration": {
            "connectionName": "Sftp",
            "operationId": "deleteFolder",
            "serviceProviderId": "/serviceProviders/Sftp"
          }
        },
        "runAfter": {
          "Upload_file_content_2": [
            "Succeeded"
          ]
        }
      }
    },
    "triggers": {
      "manual": {
        "type": "Request",
        "kind": "Http",
        "inputs": {
          "schema": {
            "type": "object",
            "properties": {
              "folder": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "contentVersion": "1.0.0.0",
    "outputs": {}
  },
  "kind": "Stateful"
}