resources/referenceWorkflowsAndConnections/workflows/ServiceProviders/BlobTrigger/workflow.BlobAction.UpdateBlobContent.BadRequest.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
      "Read_Blob": {
        "inputs": {
          "parameters": {
            "containerName": "azurelogicappscontainer",
            "blobName": "update.txt"
          },
          "serviceProviderConfiguration": {
            "connectionName": "blobStorageConnection",
            "operationId": "readBlob",
            "serviceProviderId": "/serviceProviders/AzureBlob"
          }
        },
        "runAfter": {},
        "type": "ServiceProvider"
      },
      "Response": {
        "inputs": {
          "body": "@outputs('Upload_Blob')",
          "statusCode": 200
        },
        "kind": "http",
        "runAfter": {
          "Upload_Blob": [
            "Succeeded"
          ]
        },
        "type": "Response"
      },
      "Upload_Blob": {
        "inputs": {
          "parameters": {
            "content": "@outputs('Read_Blob').body.content",
            "containerName": "azurelogicappscontainer",
            "blobName": "azurelogicapps###datetimeticks###.txt"
          },
          "serviceProviderConfiguration": {
            "connectionName": "blobStorageConnection",
            "operationId": "uploadBlob",
            "serviceProviderId": "/serviceProviders/AzureBlob"
          }
        },
        "runAfter": {
          "Read_Blob": [
            "Succeeded"
          ]
        },
        "type": "ServiceProvider"
      }
    },
    "contentVersion": "1.0.0.0",
    "outputs": {},
    "triggers": {
      "manual": {
        "kind": "http",
        "type": "request"
      }
    }
  },
  "kind": "Stateful"
}