resources/referenceWorkflowsAndConnections/workflows/Powershell/script_inline_resolved.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
      "Compose": {
        "type": "compose",
        "inputs": {
          "zipCode": "98074"
        },
        "runAfter": {}
      },
      "InvokeFunction": {
        "type": "PowershellCode",
        "inputs": {
          "CodeFile": "run.ps1"
        },
        "runAfter": { "Compose": ["Succeeded"] }
      },
      "Response": {
        "type": "Response",
        "kind": "http",
        "inputs": {
          "statusCode": 200,
          "body": "@body('InvokeFunction')"
        },
        "runAfter": {
          "InvokeFunction": [
            "Succeeded"
          ]
        }
      }
    },
    "triggers": {
      "manual": {
        "inputs": {
          "schema": {}
        },
        "kind": "Http",
        "type": "Request"
      }
    },
    "contentVersion": "1.0.0.0",
    "outputs": {}
  },
  "kind": "Stateful"
}
